<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.cxwl.guangxi" >
    
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_CONFIGURATION" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    
    <application
        android:name="com.cxwl.guangxi.common.MyApplication"
        android:allowBackup="true"
        android:icon="@drawable/iv_icon"
        android:label="@string/app_name"
        android:theme="@android:style/Theme.Light.NoTitleBar" >
        
        <!-- 自动更新下载完成广播 -->
        <receiver android:name="com.cxwl.guangxi.utils.AutoUpdateBroadcastReceiver" >
            <intent-filter>
                <action android:name="android.intent.action.DOWNLOAD_COMPLETE" />
                 <action android:name="android.intent.action.PACKAGE_INSTALL" />
            </intent-filter>
        </receiver>
        
        <meta-data
            android:name="com.amap.api.v2.apikey"
            android:value="e786f5ef1215dd05e11dfcc8165d9410"/>
        
        <!-- 定位需要的服务 -->
        <service android:name="com.amap.api.location.APSService" />
        
        <activity
            android:name="com.cxwl.guangxi.activity.WelcomeActivity"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.Light.NoTitleBar.Fullscreen" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
        <activity 
            android:name="com.cxwl.guangxi.activity.GuideActivity"
            android:theme="@android:style/Theme.Light.NoTitleBar.Fullscreen"
            android:screenOrientation="portrait" />
        
        <activity 
            android:name="com.cxwl.guangxi.activity.LoginActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        
        <activity 
            android:name="com.cxwl.guangxi.activity.RegisterActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        
        <activity 
            android:name="com.cxwl.guangxi.activity.MainActivity"
            android:screenOrientation="portrait" />
        
        <activity 
            android:name="com.cxwl.guangxi.activity.RadarActivity"
            android:screenOrientation="portrait" />
        
        <activity 
            android:name="com.cxwl.guangxi.activity.CityActivity"
            android:screenOrientation="portrait" />
        
        <activity 
            android:name="com.cxwl.guangxi.activity.FeedbackActivity"
            android:screenOrientation="portrait" />
        
        <activity 
            android:name="com.cxwl.guangxi.activity.UrlActivity"
            android:screenOrientation="portrait" />
        
        <activity 
            android:name="com.cxwl.guangxi.activity.NewsActivity"
            android:screenOrientation="portrait" />
        
        <activity 
            android:name="com.cxwl.guangxi.activity.ForecastActivity"
            android:screenOrientation="portrait" />
        
        <activity 
            android:name="com.cxwl.guangxi.activity.WarningActivity"
            android:screenOrientation="portrait" />
        
        <activity 
            android:name="com.cxwl.guangxi.activity.WarningDetailActivity"
            android:screenOrientation="portrait" />
        
        <activity 
            android:name="com.cxwl.guangxi.activity.IntroduceActivity"
            android:screenOrientation="portrait" />
        
        <activity
            android:name="com.cxwl.guangxi.activity.PDFActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        
        <activity 
            android:name="com.cxwl.guangxi.activity.HeadWarningActivity"
            android:screenOrientation="portrait" />
        
        <activity 
            android:name="com.cxwl.guangxi.activity.ServiceMaterialActivity"
            android:screenOrientation="portrait" />
        
        <activity 
            android:name="com.cxwl.guangxi.activity.TyphoonRouteActivity"
            android:screenOrientation="portrait" />
        
        <activity 
            android:name="com.cxwl.guangxi.activity.FactActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name="com.cxwl.guangxi.activity.FactProActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name="com.cxwl.guangxi.activity.FactDetailActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name="com.cxwl.guangxi.activity.FactCityActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name="com.cxwl.guangxi.activity.FactDetailChartActivity"
            android:screenOrientation="portrait" />
        
        <activity 
            android:name="com.cxwl.guangxi.activity.WeatherActivity"
            android:screenOrientation="portrait" />
        
        <activity 
            android:name="com.cxwl.guangxi.activity.ImageZoomActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Light.NoTitleBar.Fullscreen" />
        
    </application>

</manifest>